<%- include("header"); -%>
    <h3></h3>

  <div class="buttons">
    <div id="filters" class="button-group filters-button-group">
    <button class="button is-checked" data-filter="*">All</button>
    <button class="button" data-filter=".politiek">Politiek</button>
    <button class="button" data-filter=".love">Love</button>
    <button class="button" data-filter=".mural">Mural</button>
    </div>
  </div>

  <div class="bloggrid">

      <% for (let i=0; i<posts.length; i++) { %>
          <section>
              <%- include('blogpost', {post: posts[i], index: i}); -%>
          </section>
      <% } // close forloop %>

  </div>



<%- include("footer"); -%>
