<%- include("header"); -%>

<h1 class="welcome">Welcome to the ATELIER</h1>

<p>Our gast for the next few months is BANKSY</p>
<h3>Who is Banksy</h3>
<img class="portrait" src="/image/portrait.jpg" alt="">



<p class="bio">Banksy is an anonymous England-based street artist, vandal, political activist, and film director, active since the 1990s. His satirical street art and subversive epigrams combine dark humour with graffiti executed in a distinctive stenciling technique. His works of political and social commentary have been featured on streets, walls, and bridges of cities throughout the world. Banksy's work grew out of the Bristol underground scene, which involved collaborations between artists and musicians. Banksy says that he was inspired by 3D, a graffiti artist and founding member of the musical group Massive Attack.</p>

<%- include("footer"); -%>
