<nav>

  <ul>
    <li style="flex-grow:7"><h1>BANKSY</h1></li>
    <li><h4>by The ATELIER</h4></li>
    <li style="flex-grow:1"><a href="/">Home</a></li>
    <li style="flex-grow:1"><a href="/blog">Room<a></li>
    <li style="flex-grow:1"><a href="/contact">Contact</a></li>
  </ul>
</nav>
